<div class="container device">
  <div class="device_frame">
    <h2 class="mb-3">アカウント編集</h2>
    <div class="device_inner">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <div class="form-group">
            <%= f.label :name, "ユーザー名" %>
            <%= f.text_field :name, class: "form-control", placeholder: "ユーザー名を入力" %>
          </div>
        </div>

        <div class="field">
          <div class="form-group">
            <%= f.label :image_name, "アイコン画像" %>
            <%= f.file_field :image_name, class: "mb-4 col-md-9", placeholder: "アイコン画像をアップロード" %>
          </div>
        </div>

        <div class="field">
          <div class="form-group">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレスを入力してください" %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
          </div>
        </div>

        <div class="field">
          <div class="form-group">
            <%= f.label :introduction, "自己紹介" %>
            <%= f.text_area :introduction, rows: "5", class: "form-control", placeholder: "自己紹介を入力" %>
          </div>
        </div>
               
        <div class="field">
          <div class="form-group">
            <%= f.label :password, "変更後パスワード" %> <i>(変更する場合のみ入力)</i>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            <% if @minimum_password_length %>
            <% end %>
          </div>
        </div>

        <div class="field">
          <div class="form-group">
            <%= f.label :password_confirmation, "パスワード確認用" %><i>(変更する場合のみ入力)</i>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>

        <div class="field">
          <div class="form-group">
            <%= f.label :current_password, "現在のパスワード" %> 
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "現在のパスワードを入力" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "更新", class: "form-control btn btn-primary my-4" %>
        </div>
      <% end %>

      <%= link_to "戻る", users_profile_path, class: "btn-outline-secondary form-control"%>

      <h3>アカウント削除</h3>
      <p>本当に削除しますか？ <%= button_to "削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    </div>
  </div>  
</div>










