<div class="container-fluid room-posts">
  <h4 class="pb-4">登録済みルーム一覧</h4>
  <table>
    <thead>
      <tr align="center">
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= image_tag room.image_name, class: "room-image" %></td>
          <td><%= link_to room.name, {controller: 'reservations', action: 'new', id: room.id} %></td>
          <td><%= room.introduction %></td>
          <td><%= room.single_rate %></td>
          <td><%= room.created_at.to_s(:datetime_jp) %></td>
        </tr>
      <% end %>    
    </tbody>
  </table>
</div>


